<div class="container my-5">
  <h1>Tableau de Bord</h1>

  <div class="row">
    <!-- Carte pour le nombre de laboratoires -->
    <div class="col-md-4">
      <div class="card text-center mb-4">
        <div class="card-header">
          Nombre de Laboratoires
        </div>
        <div class="card-body">
          <h5 class="card-title"><%= @laboratories_count %></h5>
        </div>
      </div>
    </div>

    <!-- Carte pour le nombre total d'examens différents -->
    <div class="col-md-4">
      <div class="card text-center mb-4">
        <div class="card-header">
          Nombre Total d'Examens
        </div>
        <div class="card-body">
          <h5 class="card-title"><%= @exams_count %></h5>
        </div>
      </div>
    </div>

    <!-- Carte pour le nombre total de réservations en attente -->
    <div class="col-md-4">
      <div class="card text-center mb-4">
        <div class="card-header">
          Réservations en Attente
        </div>
        <div class="card-body">
          <h5 class="card-title"><%= @appointments_count %></h5>
        </div>
      </div>
    </div>
  </div>

  <!-- Section de gestion -->
  <div>
    <h3>Gestion</h3>
    <ul class="list-group">
      <li class="list-group-item"><%= link_to 'Gérer mes laboratoires', laboratories_path, class: 'btn btn-primary' %></li>
    </ul>
  </div>

</div>
